*{
    box-sizing: border-box;
    margin: 0;
    background-color: bisque;
}
h1{
font-size: 25px;
color: chocolate;
text-align: center;
background-color: brown;
padding: 20px;
border-radius: 10px;
}
a{
font-size: 30px;
font-family:Arial, Helvetica, sans-serif;
color: rgba(36, 88, 81, 0.432);    
display: block;
text-align: center;    
background-color:aquamarine;
max-width: 100px;
margin:auto;
border-radius: 20px;

}
img{
float: left; 
height: 300px;
width: 600px;
background: yellow;
border: 1px solid red;  
padding: 30px 30px;
}
ul{
display: flex;
flex-direction: column;
background-color: rgb(9, 63, 110);
min-height: 200px;
min-width: 300px;
}
ul li{
flex-wrap: wrap;
flex-grow:0;
display: flex;
justify-content: center;
text-align: center;

font-size: 20px;
background-color: rgb(9, 112, 116);
list-style: none;
border-radius: 5px;
border: 1px dashed blue;

}
ol{
display: block;
background-color: rgba(101, 226, 43, 0.137);
    
}

ol li{
    display: block;
    margin: 20px;
    font-size: 30px;
    color: crimson;
background-color: rgba(12, 119, 168, 0.164);
}

